.footer{
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    padding-bottom: 15px;
}
.footer div {
    display: flex;
    justify-content: space-between;
}

.footer-line{
    border-bottom: solid;
    opacity: 0.5;
    width: 95vw;
    margin: auto;
    color: white;
    margin-bottom: 20px;
}

.footer a{
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.2s ease-in;
}

.footer a:hover{
    text-decoration: underline;
    color:white;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
    }
    .footer div {
        margin-top: 3px;
        justify-content: center;
    }
}